@* Palette of draggable nodes, grouped by category. Uses data-dnd-source for JS DnD. *@
@inject LocalizationService L

<aside class="automation-palette">
    <div class="palette-section">
        <h4 class="palette-heading trigger">@L["PaletteTriggers"]</h4>
        <div class="palette-items">
            <div class="palette-item node-trigger" data-dnd-source="new:trigger:interval" title="@L["PalTrigIntervalHint"]">
                <div class="palette-item-label">@L["PalTrigInterval"]</div>
            </div>
            <div class="palette-item node-trigger" data-dnd-source="new:trigger:ticketInColumn" title="@L["PalTrigTicketInColumnHint"]">
                <div class="palette-item-label">@L["PalTrigTicketInColumn"]</div>
            </div>
            <div class="palette-item node-trigger" data-dnd-source="new:trigger:gitCommit" title="@L["PalTrigGitCommitHint"]">
                <div class="palette-item-label">@L["PalTrigGitCommit"]</div>
            </div>
            <div class="palette-item node-trigger" data-dnd-source="new:trigger:statusChange" title="@L["PalTrigStatusChangeHint"]">
                <div class="palette-item-label">@L["PalTrigStatusChange"]</div>
            </div>
            <div class="palette-item node-trigger" data-dnd-source="new:trigger:subTicketStatus" title="@L["PalTrigSubTicketsHint"]">
                <div class="palette-item-label">@L["PalTrigSubTickets"]</div>
            </div>
            <div class="palette-item node-trigger" data-dnd-source="new:trigger:boardIdle" title="@L["PalTrigBoardIdleHint"]">
                <div class="palette-item-label">@L["PalTrigBoardIdle"]</div>
            </div>
            <div class="palette-item node-trigger" data-dnd-source="new:trigger:agentInactivity" title="@L["PalTrigAgentInactivityHint"]">
                <div class="palette-item-label">@L["PalTrigAgentInactivity"]</div>
            </div>
        </div>
    </div>

    <div class="palette-section">
        <h4 class="palette-heading condition">@L["PaletteConditions"]</h4>
        <div class="palette-items">
            <div class="palette-item node-condition" data-dnd-source="new:condition:ticketInColumn" title="@L["PalCondTicketInColumnHint"]">
                <div class="palette-item-label">@L["PalCondTicketInColumn"]</div>
            </div>
            <div class="palette-item node-condition" data-dnd-source="new:condition:noPendingTickets" title="@L["PalCondNoPendingHint"]">
                <div class="palette-item-label">@L["PalCondNoPending"]</div>
            </div>
            <div class="palette-item node-condition" data-dnd-source="new:condition:fieldLength" title="@L["PalCondFieldLengthHint"]">
                <div class="palette-item-label">@L["PalCondFieldLength"]</div>
            </div>
            <div class="palette-item node-condition" data-dnd-source="new:condition:priority" title="@L["PalCondPriorityHint"]">
                <div class="palette-item-label">@L["PalCondPriority"]</div>
            </div>
            <div class="palette-item node-condition" data-dnd-source="new:condition:labels" title="@L["PalCondLabelsHint"]">
                <div class="palette-item-label">@L["PalCondLabels"]</div>
            </div>
            <div class="palette-item node-condition" data-dnd-source="new:condition:assignedTo" title="@L["PalCondAssignedToHint"]">
                <div class="palette-item-label">@L["PalCondAssignedTo"]</div>
            </div>
            <div class="palette-item node-condition" data-dnd-source="new:condition:ticketAge" title="@L["PalCondTicketAgeHint"]">
                <div class="palette-item-label">@L["PalCondTicketAge"]</div>
            </div>
            <div class="palette-item node-condition" data-dnd-source="new:condition:hasParent" title="@L["PalCondHasParentHint"]">
                <div class="palette-item-label">@L["PalCondHasParent"]</div>
            </div>
            <div class="palette-item node-condition" data-dnd-source="new:condition:allSubTicketsInStatus" title="@L["PalCondAllSubTicketsInStatusHint"]">
                <div class="palette-item-label">@L["PalCondAllSubTicketsInStatus"]</div>
            </div>
            <div class="palette-item node-condition" data-dnd-source="new:condition:ticketCountInColumn" title="@L["PalCondTicketCountInColumnHint"]">
                <div class="palette-item-label">@L["PalCondTicketCountInColumn"]</div>
            </div>
        </div>
    </div>

    <div class="palette-section">
        <h4 class="palette-heading action">@L["PaletteActions"]</h4>
        <div class="palette-items">
            <div class="palette-item node-action" data-dnd-source="new:action:runClaudeSkill" title="@L["PalActRunSkillHint"]">
                <div class="palette-item-label">@L["PalActRunSkill"]</div>
            </div>
            <div class="palette-item node-action" data-dnd-source="new:action:moveTicketStatus" title="@L["PalActMoveTicketHint"]">
                <div class="palette-item-label">@L["PalActMoveTicket"]</div>
            </div>
            <div class="palette-item node-action" data-dnd-source="new:action:setLabels" title="@L["PalActSetLabelsHint"]">
                <div class="palette-item-label">@L["PalActSetLabels"]</div>
            </div>
            <div class="palette-item node-action" data-dnd-source="new:action:assignTicket" title="@L["PalActAssignTicketHint"]">
                <div class="palette-item-label">@L["PalActAssignTicket"]</div>
            </div>
            <div class="palette-item node-action" data-dnd-source="new:action:addComment" title="@L["PalActAddCommentHint"]">
                <div class="palette-item-label">@L["PalActAddComment"]</div>
            </div>
            <div class="palette-item node-action" data-dnd-source="new:action:commitAgentMemory" title="@L["PalActCommitAgentMemoryHint"]">
                <div class="palette-item-label">@L["PalActCommitAgentMemory"]</div>
            </div>
            <div class="palette-item node-action" data-dnd-source="new:action:executePowerShell" title="@L["PalActExecutePowerShellHint"]">
                <div class="palette-item-label">@L["PalActExecutePowerShell"]</div>
            </div>
        </div>
    </div>

    <div class="palette-hint">@L["PaletteDragHint"]</div>
</aside>
